@model IEnumerable<BusApp.Models.RouteDetail>

@{
    ViewBag.Title = "Index";
}

<h2>Route Details</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Stop No.
        </th>
        <th>
            Distance From Previous Stop
        </th>
        <th>
            Route Name
        </th>
        <th>
            Stop Name
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StopNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DistanceFromPrevStop)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Route.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stop.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.ID }) |*@
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
